.cards__header {
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 1.13;
    color: #1A1B22;
    padding-top: 32px;
    width: 90%;
    margin: 0 auto 24px;
}

@media screen and (min-width: 768px) {
    .cards__header {
        margin: 0 0 32px 40px;
        padding-top: 40px;
      } 
    }

@media screen and (min-width: 1024px) {
  .cards__header {
    font-size: 40px;
    line-height: 1.15;
    padding-top: 80px;
    margin: 0 0 64px 100px;
  } 
}