@import url(./__links/navigation__links.css);
@import url(./__link/navigation__link.css);
@import url(./__text/navigation__text.css);
@import url(./__items/navigation__items.css);

.navigation {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .navigation {
        width: auto;
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .navigation {
        align-items: center;
    }
}